In [4]:
l=["jordan","will blake",[300,200,40,"james wilson"],{1:{"name":"meason mount","age":24,"club":"chelsea"}}]
print(l[0][0:3])
print(l[1][0:4])
print(l[2][3][0:5])
print(l[2][2::-1])

jor
will
james
[40, 200, 300]

In [10]:
print(l[3][1])
print(l[3][1]["name"][7:])
print(list(l[3][1]))
print(list(l[3][1])[2:0:-1])

{'name': 'meason mount', 'age': 24, 'club': 'chelsea'}
mount
['name', 'age', 'club']
['club', 'age']

In [13]:
print(l[2][0]+l[2][1]+l[2][2])
print(l[3][1]["club"])
print(str(l[3][1]["age"])[1::-1])

540
chelsea
42

In [17]:
d={1:["oneplus","apple"],2:{"name1":"venugopal","name2":"amaresh"},"a":"anaconda"}
print(d[1][0])
print(d[1][1])
print(d[2]["name1"][0:4])
print(d[2]["name1"][4:])

oneplus
apple
venu
gopal

In [21]:
print(d[2]["name2"])
print(d["a"])
print(d[1][1][::-1])
print(d[1][0][6:2:-1])

amaresh
anaconda
elppa
sulp

In [26]:
print(d[1][::-1])
print(d["a"][0:3])
print(d[2]["name2"][3:])
print(d[2]["name1"][8:5:-1])

['apple', 'oneplus']
ana
resh
lap

In [31]:
print(d[1][1][1:3])
print(d[2]["name2"][6:3:-1])
print(d[1][0]+d[1][1])
print(d[2]["name1"][0:4]+d[2]["name2"][3:])

pp
hse
oneplusapple
venuresh